# Data Science Tools and Ecosystem

## Author
### Gergo Nagy

## Introduction - In this notebook, Data Science Tools and Ecosystem are summarized.

## **Objectives:**

- List popular languages of Data Science
- List some Data Science libraries
- Evaluate arithmetic expressions in Python

Jupyter Notebook supports hundreds of data science programming languages and some them that data scientists use are

1. Python
2. R
3. Scala

Some of the commonly used libraries used by Data Scientists include:

1. Pandas
2. Scikit Learn
3. Numpy

| Data Science Tools   |
|----------|
| Apache Spark |
| Matlab |
| SAS |

### Below are a few examples of evaluating arithmetic expressions in Python:

eval(expression, globals=None, locals=None)

In [3]:
#This a simple arithmetic expression to mutiply then add integers#
(3*4)+5

17

In [4]:
#This will convert 200 minutes to hours by diving by 60#
200/60

3.3333333333333335